---
http_interactions:
- request:
    method: get
    uri: http://tweeps.locaweb.com.br/tweeps/search/tweets.json?q=@locaweb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - jjs276@gmail.com
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"statuses":[{"coordinates":null,"favorited":false,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"31217","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"runolfsdottir_skylar_dds","name":"Runolfsdottir
        Skylar Dds","id":382556,"id_str":"382556","indices":[1,26]}]},"in_reply_to_user_id_str":"382556","contributors":null,"text":"@runolfsdottir_skylar_dds
        You can''t reboot the monitor without bypassing the virtual SA","metadata":{"iso_language_code":"pt","result_type":"recent"},"retweet_count":8,"in_reply_to_status_id_str":"950223","id":31217,"geo":null,"retweeted":true,"in_reply_to_user_id":382556,"place":null,"favorite_count":0,"user":{"profile_sidebar_fill_color":"DDEEF6","profile_sidebar_border_color":"C0DEED","profile_background_tile":false,"name":"Shields
        Tomas","profile_image_url":"http://a0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","created_at":"Mon
        Apr 26 06:01:55 +0000 2010","location":"LA, CA","follow_request_sent":null,"profile_link_color":"0084B4","is_translator":false,"id_str":"342086","entities":{"url":{"urls":[{"expanded_url":null,"url":"","indices":[0,0]}]},"description":{"urls":[]}},"default_profile":true,"contributors_enabled":false,"favourites_count":9,"url":null,"profile_image_url_https":"https://si0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","utc_offset":-28800,"id":342086,"profile_use_background_image":true,"listed_count":2,"profile_text_color":"333333","lang":"en","followers_count":711,"protected":false,"notifications":null,"profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme1/bg.png","profile_background_color":"C0DEED","verified":false,"geo_enabled":true,"time_zone":"Pacific
        Time (US & Canada)","description":"Born 330 Live 310","default_profile_image":false,"profile_background_image_url":"http://a0.twimg.com/images/themes/theme1/bg.png","statuses_count":579,"friends_count":711,"following":null,"show_all_inline_media":false,"screen_name":"shields_tomas"},"in_reply_to_screen_name":"runolfsdottir_skylar_dds","source":"web","in_reply_to_status_id":950223},{"coordinates":null,"favorited":true,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"98660","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"mosciski_josue","name":"Mosciski
        Josue","id":233103,"id_str":"233103","indices":[1,16]}]},"in_reply_to_user_id_str":"233103","contributors":null,"text":"@mosciski_josue
        The IB program is down, compress the mobile hard drive so","metadata":{"iso_language_code":"pt","result_type":"r[...]
